*{
    padding: 0%;
    margin: 0;
}
body{
    background-color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    padding: 10px;
    color: aliceblue;
    border-radius: 3px;
    cursor: pointer;
}
a:hover{
    background-color: aliceblue;
    color: #2b6eee;
}
h1{
    color: #2b6eee;
}
h2{
    color: #2b6eee;
}
h3{
    color: #2b6eee;
}
p{
    color: #2b6eee;
    padding-top: 10px;
}
div{
    width: 70%;
    margin: 0 auto;
    text-align: left;
}
ol{
    list-style: upper-roman;
    color: #2b6eee;
    padding: 25px;
}
ul{
    list-style: square;
    color: #2b6eee;
    padding: 25px;
}
td{
    padding: 20px;
}
hr{
    border-color: #2b6eee;
    width: 100%;
}
.header{
    background-color: #2b6eee;
    padding: 30px;
    height: 80px;
}
.header td{
    padding: 0px;
    vertical-align: bottom;
    padding-bottom: 3px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.container:first-child{
    padding-top: 40px;
}

#canva{
    color: #2b6eee;
    padding: 2px;
    text-decoration: underline;
}
#canva:hover{
    background-color: #2b6eee;
    color: aliceblue;
    padding: 2px;
}
#table-struct{
    border-color: #2b6eee;
    color: #2b6eee;
    border-radius: 5px;
    box-shadow: 1px 1px 3px;
    border-style: dashed;
}
#footer{
    padding-top: 20px;
    background-color: #d6e4ff;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
#ul-canva{
    list-style: decimal;
}